 <% if signed_in? %>
  <% current_color = randomColor() %>  
  <script>
    function buttonPress(userID){      
      var friend_id = "friends[" + userID + "]";
      var button_id = "button_" + userID;
      var visible = document.getElementById(friend_id).value;
      if(visible == "false"){
        document.getElementById(button_id).setAttribute("class", "btn btn-large btn-success");
        document.getElementById(friend_id).value = "true";
      }else{
        document.getElementById(button_id).setAttribute("class", "btn btn-large");
        document.getElementById(friend_id).value = "false";
      }  
    }
    </script>

    
    <div class=" hero-unit" style="background-color:<%=current_color%>">
    <%= form_for(@micropost) do |f| %>
     <div class="row-fluid">
      <div class="span2"></div> 
      <div class="span6">
        <%= render 'shared/error_messages', object: f.object %>   
        <%= f.label :Message %>
        <%= f.text_field :content, placeholder: "Dont forget to buy milk!", maxlength: "100", autofocus: "true" %>        
        <%= f.hidden_field :filter, value: current_color %> 
        <%= f.label :'To' %>
        <button class="btn btn-large" id="button_email" name="button_email" type="button" onClick=emailButton()>Email</button>
        <%= f.email_field :recipients, placeholder: "Email", maxlength: "100", visibility: "hidden" %>

          <%  @friends.each do |u| %>          
              <button class="btn btn-large" id="button_<%=u.id%>" name="button_<%=u.id%>" type="button" onClick=buttonPress('<%=u.id%>')><%=u.name%></button>
              <input type="hidden" id="friends[<%=u.id%>]" name="friends[<%=u.id%>]" value="false"/>
          <% end %>
     </div> 
    </div>    
    <div class="row-fluid" style="text-align: right">   
       <div class="span8">         
        <%= f.submit "Share", class: "btn btn-large btn-primary" %>
      </div> 
    </div> 
    <% end %> 
   </div> 

  <%  @microposts.each do |micropost| %>
    <%= render @microposts %>
  <% end %>  



<% else %>
<div class="center hero-unit" style="background-color: #ffffff;">
      <h1>Private sharing faster</h1>
      <p>
        Private sharing the way it's suppose to be. 
      </p>
      <p>
        <b>Note that Lugogram is currently in development. <b/>
      </p>
      <br/>
      <p><%= link_to "Sign up now", signup_path, class: "btn btn-large btn-success" %></p>  
    </div>
  
 <%= render 'shared/lugogram_message', avatar: '/images/ninja-avatar-48x48.png', name: 'Julia', message:'Missing you :(', color: randomColor() %>
 <%= render 'shared/lugogram_message', avatar: '/images/ninja-avatar-48x48.png', name: 'Lisa', message:'We are leaving for the pizza place now, feel free to join.', color: randomColor() %>
 <%= render 'shared/lugogram_message', avatar: '/images/ninja-avatar-48x48.png', name: 'Ben', message:'Dont forget the milk!', color: randomColor() %> 

<% end %> 
