 <% if signed_in? %>
  <% current_color = randomColor() %>  
  <script>
    function change(){
        var el1 = document.getElementById("message");
        var el2 = document.getElementById("micropost_content");
        el1.innerHTML = el2.value;
    }
    function buttonPress(userID){
      document.getElementById(userID).setAttribute("class", "btn btn-large btn-success");
      document.getElementById("micropost_recipients").value = userID;
    }
    </script>

    
    <div class=" hero-unit">
    <%= form_for(@micropost) do |f| %>
     <div class="row-fluid">
      <div class="span6">
        <h2>Message:</h2>
      <%= render 'shared/error_messages', object: f.object %>   
      <div class="field">
      <% if current_user.microposts.length > 1 %>
        <%= f.text_area :content, rows: "2", placeholder: " ", maxlength: "100", autofocus: "true" %>   
      <% else %>
        <%= f.text_area :content, rows: "2", placeholder: " ", maxlength: "100", autofocus: "true",  onkeyup: "change()" %>
        
      <% end %>
      <%= f.hidden_field :recipients %>  
      <%= f.hidden_field :filter, value: current_color %> 
      <%= f.submit "Post", class: "btn btn-large btn-primary" %>                  
      </div>
      </div> 
    <div class="span6">
        <h2>Visible to:</h2>
        <%  @friends.each do |uservis| %>          
            <button class="btn btn-large" id="<%=uservis.id%>" name="<%=uservis.id%>" type="button" onClick=buttonPress('<%=uservis.id%>')><%=uservis.name%></button>
        <% end %>
        <button class="btn btn-large" id="add+" name="add+" type="button" onClick=buttonPress('add+')>Add+</button>  
     </div>
    </div> 
    <% end %> 
   </div> 

  <% if @microposts.length > 0 %>
    <%  @microposts.each do |micropost| %>
      <%= render @microposts %>
    <% end %>  
  <% else %>
    <%= render 'shared/lugogram_message', avatar: current_user.avatar, name: current_user.name, message:'Preview. Your message here', color: current_color %>
  <% end %>


<% else %>
<div class="center hero-unit" style="background-color: #ffffff;">
      <h1>Messaging without replys</h1>
      <p>
        Hacking the social convention of having to reply to messages. 
      </p>
      <br/>
      <p><%= link_to "Sign up now", signup_path, class: "btn btn-large btn-success" %></p>  
    </div>
  
 <%= render 'shared/lugogram_message', avatar: '/images/ninja-avatar-48x48.png', name: 'Julia', message:'Missing you :(', color: randomColor() %>
 <%= render 'shared/lugogram_message', avatar: '/images/ninja-avatar-48x48.png', name: 'Lisa', message:'We are leaving for the pizza place now, feel free to join.', color: randomColor() %>
 <%= render 'shared/lugogram_message', avatar: '/images/ninja-avatar-48x48.png', name: 'Ben', message:'Dont forget the milk!', color: randomColor() %> 

<% end %> 
