<% if signed_in? %>
  <table><tr>
    <td valign="top">   
        <%= form_for(@micropost) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="field">
            <%= f.text_area :content, placeholder: "Compose new Lugogram" %>
            <%= f.select :filter, "<option>standard</option><option>cute</option><option>formal</option><option>crazy</option>".html_safe %>
          </div>
          <%= f.submit "Send", class: "btn btn-large btn-primary" %>
        <% end %>
    </td>  
  <td width="40">&nbsp;</td>
  <td valign="top">   
        <%= render 'layouts/cute.html' %>  
  </td> 
</tr></table>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Lugogram</h1>

    <h2>
      This is....
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %> 