<script>
    

    function checkImageURL(){
      var imageurl = document.getElementById("user_avatar").value;
      if (imageurl.length == 0){
        document.getElementById("avatar_preview").src = "<%=defaultAvatar%>";
      }else{
        $("<img>", {
            src: imageurl,
            error: function() { 
              alert("Avatar link is not working :( Try again or leave empty.");
            },
            load: function() { 
              document.getElementById("avatar_preview").src = imageurl;
            }
        });
      }
    }

   
</script>


<div class="well">
<h4>Settings</h4>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :avatar %>
  <div class="row-fluid">
  <div class="span6"><%= f.text_field :avatar, placeholder: "www...link to image (or leave empty)", onBlur: "checkImageURL()" %></div> 
  <div class="span2"><%= image_tag(current_user.getAvatarURL, :id => "avatar_preview", :size => "30x30") %></div>
  
  </div> 

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Confirm Password" %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Save changes", class: "btn btn-primary" %>
<% end %>

<br/>
<%= link_to "Sign Out", signout_path, method: "delete" %>
<br/><br/>
<%= link_to "Delete my account", @user, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @user.name %>
</div>