<script>
    function checkImage(){
      var imageurl = document.getElementById("user_avatar").value;
      $("<img>", {
          src: imageurl,
          error: function() { 
            alert("Avatar link is not working :( Try again or leave empty.");
          },
          load: function() { 
            
          }
      });
    }
</script>

<div class="well">
<% if @friends.length !=0 %>
  <h4>People you know</h4>
    <% @friends.each do |u| %>
        <div class="row-fluid">
          <div class="span4">
            <%= image_tag(u.getAvatarURL, size: "24x24") %>
            <br/><%= u.name %>
          </div> 
          <div class="span2">
          <%= button_to "Remove", {friend_id: u.id, controller: "users", action: "unfriend"}, class: "btn" %>    
          </div> 
      </div> 
    <% end %>
  <% end %>
  <hr>
  <ul class="nav nav-list"> 
      <li class="nav-header"><%= image_tag("glyphicons_006_user_add.png", size: "16x16")%> Add somebody</li>  
      <%= form_for @friend, url: {id: current_user.id, action: "invite" } do |f| %>
      <div class="row-fluid"><div class="span6"><%= f.email_field :email, placeholder: "Email" %></div><div class="span2"><%= f.submit "Add", class: "btn" %></div></div>
    <% end %> 
  </ul>
</div>
<div class="well">
<h4>Settings</h4>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :avatar %>
  <%= f.text_field :avatar, placeholder: "www...link to image", onBlur: "checkImage()" %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Confirm Password" %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Save changes", class: "btn btn-primary" %>
<% end %>

<br/>
<%= link_to "Delete my account", @user, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @user.name %>
</div>