<% if signed_in? %>
  <% current_color = randomColor() %>  
  <script>
    function buttonPress(userID){      
      var friend_id = "friends[" + userID + "]";
      var button_id = "button_" + userID;
      var image_id = "image_"  + userID;
      var visible = document.getElementById(friend_id).value;
      if(visible == "false"){        
        document.getElementById(image_id).setAttribute("class", "avatar_selected");   
        document.getElementById(friend_id).value = "true";
      }else{ 
        document.getElementById(image_id).setAttribute("class", "avatar");
        document.getElementById(friend_id).value = "false";
      }  
    }
    </script>
<div class="container-fluid">    
<div class="row-fluid">   
  <div class="span12">  
    <%= form_for(@micropost) do |f| %>
    <div class="cuteEmail" style="font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif">
    <br/>
    <div class="messageBox" style="background-color:gray;border-color: black;padding: 30px;margin-top: 10px;margin-bottom: 10px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px">
      <div class="row-fluid">
      <div class="span1">
        <%= image_tag(current_user.avatar, :class => "avatar_visible", :size => "48x48") %>
        <br/><p style="font-size: 10px;color: black;"><%= current_user.name %></p>
      </div>
      <div class="span3">
        <%= render 'shared/error_messages', object: f.object %>   
        <%= f.text_area :content, rows: "2", placeholder: "Dont forget to buy milk!", maxlength: "100", autofocus: "true" %>
        <% if @friends.length == 0 %><%= f.text_field :recipients, placeholder: "Email", maxlength: "100" %><% end  %>
      </div>
      
      <div class="span6">           
        <div class="row-fluid">
          <%  @friends.each do |u| %>          
              <div class="span2">
                <a onClick=buttonPress('<%=u.id%>')><img src="<%=u.avatar%>" id="image_<%=u.id%>" size="48x48" class="avatar") %></a>
                <br/><p style="font-size: 10px;color: black;"><%= u.name %></p>
              </div>
              <input type="hidden" id="friends[<%=u.id%>]" name="friends[<%=u.id%>]" value="false"/>
          <% end %>
          <div class="span2">
            <%= f.hidden_field :filter, value: current_color %>
            <%= f.submit "Share", class: "btn btn-success" %>
          </div>
        </div>
     </div>
     </div>    
   </div> 
   </div> 
   <% end %> 
 </div> 
</div> 


<% newRow = true %> 
  <%  @microposts.each do |micropost| %>
  <% if newRow %>
    <div class="row-fluid">
    <% newRow = false %>
  <% else %>
    <% newRow = true %>
  <% end %>
   <div class="span6">
    <%= render micropost %>
    <% if current_user?(micropost.user) %>
      <span class="timestamp">Posted by You <%= time_ago_in_words(micropost.created_at) %> ago </span>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" },
                                       title: micropost.content %>
    <% else %>
      <span class="timestamp">Posted by <%= link_to micropost.user.name, user_path(micropost.user) %> <%= time_ago_in_words(micropost.created_at) %> ago </span>
      <% if (current_user && !current_user.isFriend?(micropost.user)) %>
        <span class="timestamp"><%= link_to "Add as a friend", id: current_user.id, friend_id: micropost.user.id, controller: "users", action: "friend" %></span>
      <% end %>
    <% end %>
    </div> 
  <% end %>
</div> 


</div>
<% else %>
  <div class="center hero-unit" style="background-color: #ffffff;">
      <h1>Private sharing: faster</h1>
      <p>
        Private sharing the way it's suppose to be. 
      </p>
      
      <br/>
      <p><%= link_to "Sign up now", signup_path, class: "btn btn-large btn-success" %></p> 
      <p>
        <b>Lugogram is currently in development. <b/>
      </p> 
  </div>
  <div class="container-fluid">  
  <%= render 'shared/lugogram_message', avatar: '/images/ninja-avatar-48x48.png', name: 'Julia', time: "", visibility: "", message:'Missing you :(', color: randomColor() %>
  <%= render 'shared/lugogram_message', avatar: '/images/ninja-avatar-48x48.png', name: 'Lisa', time: "", visibility: "", message:'We are leaving for the pizza place now, feel free to join.', color: randomColor() %>
  <%= render 'shared/lugogram_message', avatar: '/images/ninja-avatar-48x48.png', name: 'Ben', time: "", visibility: "", message:'Dont forget the milk!', color: randomColor() %> 
  </div>
<% end %> 