<% if signed_in? %>
 


<% if @visible_users.length > 0 %>
<div class="well" style="padding:5px;">
  
  <div class="row-fluid" style="margin:0px;padding:0px;">
      
      <div class="span12"><a href="<%=root_path%>"><%= image_tag("glyphicons_192_circle_remove.png", style: "margin-left:20px;", size: "20x20")%></a></div>         
  </div>
  
  <ul class="thumbnails" style="margin:0px;padding:0px;border:0px">
    <li class="span4">
      <div class="thumbnail" style="margin:0px;padding:0px;border:0px;">
        <% if current_user.hasDefaultAvatar? %>
          <%= image_tag(current_user.getAvatarURL, :size => "40x40") %>   
        <% else %>
          <%= image_tag(current_user.getAvatarURL, :size => "40x40", class: "avatar_with_border") %> 
        <% end %>
        <h5 style="text-align:center;">You</h5>
      </div>
    </li>
    <% @visible_users.each do |u| %> 
      <li class="span4">
        <div class="thumbnail" style="margin:0px;padding:0px;border:0px;">
          
          <% if u.hasDefaultAvatar? %>
            <%= image_tag(u.getAvatarURL, :size => "40x40") %>   
          <% else %>
            <%= image_tag(u.getAvatarURL, :size => "40x40", class: "avatar_with_border") %> 
          <% end %>

            <h5 style="text-align:center;"><%=u.name%></h5>   
            <% if !@friends.include?(u) %>
              <span style="text-align:center;">
                <%= form_for u, url: {id: current_user.id, action: "invite"}, html: {method: :post} do |f| %>
                  <%= f.hidden_field :email, value: u.email %>
                  <%= f.submit "Add", class: "btn" %>
                <% end %> 
              </span>  
            <% end %> 
        </div>
      </li>  
    <% end %>            
  </ul> 
  </div>   

  <% else %>
    <div id="tooltip" ></div>
  <% end %>

  <div id="mobileInsert" ><div class="accordion-group" style="border:0;padding:0;margin:0">
  
  <% 
  messageClass = "collapse"
  if @visible_users.length > 0 
    messageClass = "collapse in"
  end 
  %>  

    <div id="newMessage" class="<%=messageClass%>"><div class="well" style="padding: 5px;">  
  <%= form_for(@micropost) do |f| %>  
  <div class="modal-header">
    <h4 id="friendModalLabel">New message <% if (@visible_users != nil and !@visible_users.empty?) %> in this group <% end %></h4>
  </div>
  <div class="modal-body" style="padding: 0px;">
    <ul class="nav nav-list">  
        
      <%= f.hidden_field :weblink %>
      <%= f.hidden_field :imagelink %>
      <li><%= render 'shared/error_messages', object: f.object %></li>   
      <li class="nav-header">Message</li>
      <li>
        <%= f.text_area :content, rows: "2", placeholder: "Dont forget to buy milk!", maxlength: "100" %>
      </li>

      <li class="nav-header" >
        <div class="row-fluid"><a data-toggle="collapse" data-target="#linkcollapse" role="button" class="noline"><%= image_tag("glyphicons_050_link.png", size: "16x16")%> Add link (optional)</a>
          <div id="linkcollapse" class="collapse">
                 
          <table>
            <tr><td><input type="text" id="url" name="url" placeholder="www..." maxlength="100" /></td>
            <td valign="top"><button class="btn" type="button" onClick="makeShort()">Shorten</button></td>
          </tr>
          <tr>
            <td><input type="dropbox-chooser" name="selected-file" id="db-chooser" /></td> 
          </tr>  
        </table>  
        </div>
        </div>  
      <li>
            
      <% if @visible_users == nil or @visible_users.empty? %>
        <li class="nav-header">Visible to</li>
        <li><table>
          <tr>
          <td colspan="2" nowrap><img src="<%=current_user.getAvatarURL%>" class="avatar_selected" width="24" height="24"><span class="name_selected"> You</span></td>
          </tr>
        <%  @friends.each do |u| %>          
          <tr>
          <td colspan="2" nowrap><div onClick=buttonPress('<%=u.id%>')><img src="<%=u.getAvatarURL%>" id="image_<%=u.id%>" class="avatar_unselected" width="24" height="24"><span id="name_<%=u.id%>" class="name_unselected"> <%= u.name %></span></div></td>               
          <input type="hidden" id="friends[<%=u.id%>]" name="friends[<%=u.id%>]" value="false"/> 
          </tr>
        <% end %>
        </table></li> 
      <% else %>
          <%  @visible_users.each do |u| %>
            <input type="hidden" id="friends[<%=u.id%>]" name="friends[<%=u.id%>]" value="true"/> 
         <% end %> 
      <% end %>           
  </br>
  </div> 
  <div class="modal-footer">
      <button class="btn" type="button" data-toggle="collapse" data-parent="#mobileInsert" data-target="#newMessage" >Close</button>
      <%=f.submit "Share", class: "btn btn-success" %>
    </div> 
    
  <% end %>
  </div></div>

  <div id="addFriend" class="collapse"><div class="well" style="padding: 5px;">   
  <div class="modal-header">
    <h4 id="friendModalLabel">Friends</h4>
  </div>
  <div class="modal-body" style="padding: 5px;">
    <ul class="nav nav-list" style="padding: 0px;">
      <li><table>
        <% @friends.each do |u| %> 
          <tr>
          <td valign="top"><%= image_tag(u.getAvatarURL, size: "24x24") %> <%= u.name %> </td> 
          <td valign="top"><%= button_to "Remove", {id: current_user.id, friend_id: u.id, controller: "users", action: "unfriend"}, class: "btn btn-mini" %></td> 
          </tr> 
        <% end %>
    </table></li>
  </ul>
  <%= form_for @friend, url: {id: current_user.id, action: "invite" } do |f| %>
    <ul class="nav nav-list"> 
      <li class="nav-header">Add someone</li>
      <li><%= f.email_field :email, placeholder: "Email" %></li>
    </ul>
  </div>  
  <div class="modal-footer">
    <button class="btn" type="button" data-toggle="collapse" data-parent="#mobileInsert" data-target="#addFriend">Close</button>
    <%= f.submit "Add", class: "btn btn-success" %>
  </div>  
  <% end %>
</div></div>

<div id="settings" class="collapse"><div class="well" style="padding: 5px;">   
  <%= form_for(current_user) do |f| %>
  <div class="modal-header">
    <h4 id="settingsModalLabel">Settings</h4>
  </div>
  <div class="modal-body" style="padding: 0px;">
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :avatar %>
    <div class="row-fluid">
    <div class="span8"><%= f.text_field :avatar, placeholder: "www...link to image (or leave empty)", onBlur: "checkImageURL()" %></div> 
    <div class="span4"><%= image_tag(current_user.getAvatarURL, :id => "avatar_preview", :size => "30x30") %></div>
    </div> 

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>


    <%= link_to "Sign Out", signout_path, method: "delete" %>
    </br>
    <%= link_to "Delete my account", current_user, method: :delete,
                                         data: { confirm: "You sure?" },
                                         title: current_user.name %>
    </div>
     <div class="modal-footer">
    <button class="btn" type="button" data-toggle="collapse" data-parent="#mobileInsert" data-target="#settings">Close</button>
    <%= f.submit "Save changes", class: "btn btn-success" %>
    </div>
                                 
  <% end %>
</div></div>

</div>
</div>

  <div>
    <%  @microposts.each do |micropost| %> 
      <div class="row-fluid">
      <div class="span12">
      <%= render micropost %>
      </div> 
     </div>  
    <% end %>
  </div>


<% else %>
  <div class="center hero-unit" style="background-color: #ffffff;margin-left:0px;margin-right:0px;">
    <h1>Private sharing: faster</h1>     
    <p>
      All messages on Lugogram are private to and from your close friends. Not companies. Not ads. Not old school mates. 
      The contents of messages are private forever (and will never be used to target adverticing).
    </p>
    </br>
    <p>Its a lot like email but easier to use: Private sharing the way it's suppose to be.</p>
    <p><%= link_to "Sign up now, it's free", signup_path, class: "btn btn-large btn-success" %></p> 
  </div>
  <div class="row-fluid">
  <%= render 'shared/lugogram_message', avatar: defaultAvatar, name: 'Julia', time: "", visibility: "", message:'Thanks for the dinner yesterday, the food was fantastic!', weblink: "", imagelink: "", color: randomColor() %>
  <%= render 'shared/lugogram_message', avatar: defaultAvatar, name: 'Lisa', time: "", visibility: "", message:'We are leaving for the pizza place now, feel free to join.', weblink: "", imagelink: "", color: randomColor() %>
  <%= render 'shared/lugogram_message', avatar: defaultAvatar, name: 'Ben', time: "", visibility: "", message:'Dont forget the milk!', weblink: "", imagelink: "", color: randomColor() %> 
  <%= render 'shared/lugogram_message', avatar: defaultAvatar, name: 'Martin', time: "", visibility: "", message:'Bootstrap link: http://twitter.github.io/bootstrap/components.html#thumbnails', weblink: "", imagelink: "", color: randomColor() %>
  </div>
<% end %> 