<% if signed_in? %>
  <% current_color = randomColor() %>  
 
<script>
      
    $(document).ready(function() {
      $('#linkadd').click(function() {
        $('#micropost_content').after('<li><input type="text" id="url" name="url" placeholder="www..." maxlength="100" onBlur="makeShort()"/></li>');
        $('#linkadd').remove();
      });

      $('#showSendMessage').click(function() {
        $('#showSendMessage').remove();
      });
      
    });
      
    function showSendMessage(){
      document.getElementById('sendMessage').setAttribute("class", "well sidebar-nav");
    }

    function buttonPress(userID){      
      var friend_id = "friends[" + userID + "]";
      var image_id = "image_"  + userID;
      var name_id = "name_"  + userID;
      //var select_id = "select_"  + userID;

      var visible = document.getElementById(friend_id).value;
      if(visible == "false"){        
        document.getElementById(image_id).setAttribute("class", "avatar_selected");   
        document.getElementById(name_id).setAttribute("class", "name_selected");
       // document.getElementById(select_id).setAttribute("class", "avatar_selected");       
        document.getElementById(friend_id).value = "true";
      }else{ 
        document.getElementById(image_id).setAttribute("class", "avatar");
        document.getElementById(name_id).setAttribute("class", "name_unselected"); 
       // document.getElementById(select_id).setAttribute("class", "avatar");
        document.getElementById(friend_id).value = "false";
      }  
    }
    
    function makeShort() 
    {
       var longUrl=document.getElementById("url").value;
       if (longUrl != null && longUrl.length > 0){
          var request = gapi.client.urlshortener.url.insert({
            'resource': {
            'longUrl': longUrl
          }
          });
          request.execute(function(response) 
          {    
              if(response.id != null){                

                  document.getElementById("url").value = response.id;
                  document.getElementById("micropost_weblink").value = response.id;
              }
          
       
          });
        }
     }

     
    function load()
    {
        //Get your own Browser API Key from  https://code.google.com/apis/console/
        gapi.client.setApiKey('AIzaSyCF1DzfpTiMuzKk2TjudaZ-bPIPGjaL6NY');
        gapi.client.load('urlshortener', 'v1',function(){});
     
    }
    window.onload = load;
     
    </script>
    <script src="https://apis.google.com/js/client.js"> </script>  
       
    
<div class="row-fluid"> 
  
    <div class="span4">
      <div id="showSendMessage" class="well sidebar-nav visible-phone">
        <div class="row-fluid"><div class="span12" style="text-align: center;"><button class="btn btn-primary" onClick="showSendMessage();">Compose new message</button></div></div>
      </div>
      <div id="sendMessage" class="well sidebar-nav visible-desktop">
          <ul class="nav nav-list">  
            <% if @friends.length == 0 %>
              <li><span style="font-size: 12px;color: black;">You haven't added any friends yet. <%= link_to "Add some", current_user %></span></li>
            <% else %>   
              <%= form_for(@micropost) do |f| %>  
                <%= f.hidden_field :filter, value: current_color %>
                <%= f.hidden_field :weblink %>
                <li><%= render 'shared/error_messages', object: f.object %></li>   
                <li class="nav-header"><table style="margin-top:0px;margin-bottom:0px;"><tr><td>Message </td><td><span id="linkadd" class="nav-header" style="margin-left:30px">+link </span></td></tr></table></li>
                <li><%= f.text_field :content, placeholder: "Dont forget to buy milk!", maxlength: "100", autofocus: "true" %></li>
                
                <li class="nav-header">To (click to add)</li>
                <li><table style="margin-top:0px;margin-bottom:0px;white-space:nowrap;">
                <%  @friends.each do |u| %>          
                   <tr><td><a onClick=buttonPress('<%=u.id%>')><img src="<%=u.getAvatarURL%>" id="image_<%=u.id%>" class="avatar" width="24" height="24"></a></td><td><p id="name_<%=u.id%>" class="name_unselected"><%= u.name %></p></td></tr> 
                   <input type="hidden" id="friends[<%=u.id%>]" name="friends[<%=u.id%>]" value="false"/> 
                <% end %> 
                </table></li>
                <li style="margin-top:10px"><%= f.submit "Share", class: "btn btn-success" %></li> 
              <% end %> 
            <% end %> 
          </ul>
        </div><!--/.well -->
    </div>    

    <div class="span8">    
      <%  @microposts.each do |micropost| %> 
        <div class="row-fluid">
        <div class="span12">
        <%= render micropost %>
        </div> 
       </div>  
      <% end %>
    </div>
</div>

<% else %>
<div class="row-fluid"><div class="span12">  
  <div class="center hero-unit" style="background-color: #ffffff;">
      <h1>Private sharing: faster</h1>
      <p>Private sharing the way it's suppose to be.</p>
      <br/>
      <p><%= link_to "Sign up now", signup_path, class: "btn btn-large btn-success" %></p> 
  </div>
</div></div>
  <div class="row-fluid">
  <%= render 'shared/lugogram_message', avatar: defaultAvatar, name: 'Julia', time: "", visibility: "", message:'Missing you :(', color: randomColor() %>
  <%= render 'shared/lugogram_message', avatar: defaultAvatar, name: 'Lisa', time: "", visibility: "", message:'We are leaving for the pizza place now, feel free to join.', color: randomColor() %>
  <%= render 'shared/lugogram_message', avatar: defaultAvatar, name: 'Ben', time: "", visibility: "", message:'Dont forget the milk!', color: randomColor() %> 
  </div>
<% end %> 