<div class="hero-unit">
<% if(@user.id == current_user.id) %>
	<h2>Add Friend</h2>
	<%= form_for @friend, url: { action: "invite" } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>   
	  <%= f.email_field :email, placeholder: "Email", class: "span4" %>
	  <br/>
      <%= f.submit "Add", class: "btn btn-large btn-primary" %>                  
    <% end %>

    <br/><br/>
    <br/><br/>

	<h2>Your Friends</h2>
	<% @friends.each do |u| %>
	    <div class="row-fluid">
      	<div class="span4">
        <%= image_tag(current_user.avatar, size: "48x48") %>
        <br/><%= u.name %>
        </div> 
        <div class="span1">
        <button class="btn btn-large" type="button"><%= link_to "Remove", friend_id: u.id, controller: "users", action: "unfriend" %></button>  
		</div> 
		<% if(current_user.admin) %>
		<div class="span1"><button class="btn btn-large" type="button"><%= link_to "Delete", @user, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @user.name %></button>
		</div> 
		<% end %>
		</div> 
	<% end %>
	

<% else %>
	<h1><%= @user.name %></h1>
	<% if(!current_user.isFriend?(@user)) %>		
		<button class="btn btn-large" type="button"><%= link_to "Add as a friend", friend_id: @user.id, controller: "users", action: "friend" %></br></button>
	<% else %>
		<button class="btn btn-large" type="button"><%= link_to "Remove as a friend", friend_id: @user.id, controller: "users", action: "unfriend" %></br></button>
	<% end %>
	<% if(current_user.admin) %>
		<br/><button class="btn btn-large" type="button"><%= link_to "Delete user", @user, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @user.name %></button>
		<% end %>
<% end %>
</div>