<% 
  styling = "";
  hasimage = imagelink != nil && imagelink.length > 0 
  if hasimage   
    styling = "background-color: transparent;background-image: url(" + imagelink + ");background-repeat: no-repeat;background-position: left top;background-attachment: scroll;background-size: 100%;"
  else
    styling = "background-color:" + color
  end 
%>

<div class="cuteEmail" style="font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif">
   <div class="messageBox" style="<%=styling%>;border-color: gray;padding: 30px;margin-top: 10px;margin-bottom: 10px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px">
    <table><tr>
      <td>
        <%= image_tag(avatar, :class => "avatar_visible", :size => "48x48") %>
        <br/><p style="font-size: 10px;color: black;"><%= name %></p>
      </td>
      <td colspan-"2"> 
        <h1 style="font-size: 32px;font-weight: 200;line-height:1;text-align: center;color: black;padding: 0px;;margin-top:0px;margin-bottom:0px;margin-left:10px;"><%= message %></h1>
        </br><h2 style="font-size: 18px;font-weight: 200;line-height:1;text-align: center;color: black;padding: 0px;;margin-top:0px;margin-bottom:0px;"><%= auto_link(weblink) %></h2>
      </td>
      <td style="margin-right:10px;"></td> 
    </tr></table>  
    <% if hasimage %></br></br></br></br></br></br><% end %> 
  </div>
</div>
