<div class="cuteEmail" style="font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif">
   <div class="messageBox" style="background-color:<%= color %>;border-color: gray;padding: 30px;margin-top: 10px;margin-bottom: 10px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px">
    <div class="row-fluid">
      <div class="span2">
      <%= image_tag(avatar, :size => "48x48") %>
      <br/><p style="font-size: 10px;color: black;"><%= name %>
      <br/><%= time %></p>
      </div>
      <div class="span8"> 
      <h1 style="font-size: 24px;font-weight: 200;line-height:1;text-align: center;color: black;padding: 0px;;margin-top:0px;margin-bottom:0px;"><%= auto_link(message) %></h1>
      </div>
      <div class="span2"> 
      <p align="right" style="font-size: 10px;color: black;font-style: italic;text-align: right"><%= visibility %></p>
      </div>  
  </div>
  </div>
</div>