
  <% 
  	eyes = micropost.getUserEyes()
  	names = "Visible to: " 
    if current_user?(micropost.user)
      names += "You"
    else
      names += micropost.user.name  
    end
  	eyes.each do |u| 
  		names = names + ", " + u.name	
  	end
  %>
  
  <%= render 'shared/lugogram_message', avatar: micropost.user.avatar, name: names, message: micropost.content, color: micropost.filter %>  
  <% if current_user?(micropost.user) %>
  	<span class="timestamp">Posted by You <%= time_ago_in_words(micropost.created_at) %> ago </span>
    <%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: micropost.content %>
  <% else %>
  	<span class="timestamp">Posted by <%= micropost.user.name %> <%= time_ago_in_words(micropost.created_at) %> ago </span>
  <% end %>
<br/>
