<% current_color = randomColor() %>  
<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Lugogram</title> 
    <%= favicon_link_tag %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript" src="https://apis.google.com/js/client.js"> </script>  
    <script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropins.js" id="dropboxjs" data-app-key="s0y1a8bft03ts1x"></script>       

    <script>
      
    $(document).ready(function() {
      
      $('#tooltip').click(function(){
        $('#tooltip').remove(); 
        $.cookie("tip_reply_read", "true", { expires: 7 }); 
        return false;
      });
      
    });
    


  function buttonPress(userID){      
    var friend_id = "friends[" + userID + "]";
    var image_id = "image_"  + userID;
    var name_id = "name_"  + userID;
    //var select_id = "select_"  + userID;

    var visible = document.getElementById(friend_id).value;
    if(visible == "false"){        
      document.getElementById(image_id).setAttribute("class", "avatar_selected");   
      document.getElementById(name_id).setAttribute("class", "name_selected");
     // document.getElementById(select_id).setAttribute("class", "avatar_selected");       
      document.getElementById(friend_id).value = "true";
    }else{ 
      document.getElementById(image_id).setAttribute("class", "avatar_unselected");
      document.getElementById(name_id).setAttribute("class", "name_unselected"); 
     // document.getElementById(select_id).setAttribute("class", "avatar");
      document.getElementById(friend_id).value = "false";
    }  
  }
  

  function checkImage(){
    var imageurl = document.getElementById("imageurl").value;
    $("<img>", {
        src: imageurl,
        error: function() { 
          document.getElementById("imageurl").value = "Image link is not working :(";
        },
        load: function() { 
          document.getElementById("imageurl").value = "Image OK";
          document.getElementById("micropost_imagelink").value = imageurl;
        }
    });
  }

  function checkImageURL(){
      var imageurl = document.getElementById("user_avatar").value;
      if (imageurl.length == 0){
        document.getElementById("avatar_preview").src = "<%=defaultAvatar%>";
      }else{
        $("<img>", {
            src: imageurl,
            error: function() { 
              alert("Avatar link is not working :( Try again or leave empty.");
            },
            load: function() { 
              document.getElementById("avatar_preview").src = imageurl;
            }
        });
      }
    }


  function makeShort() {       
    var longUrl = document.getElementById("url").value;      
    if (longUrl != null && longUrl.length > 0){
        var request = gapi.client.urlshortener.url.insert({
          'resource': {
          'longUrl': longUrl
        }
        });
        request.execute(function(response){    
            if(response.id != null){                
                document.getElementById("url").value = response.id;
                document.getElementById("micropost_weblink").value = response.id;
                
            }else{
              //alert('urlshorten failed');              
              document.getElementById("micropost_weblink").value = longUrl; 
            }
        });
      }
   }

  function loadDropBoxListener(){   
    document.getElementById("db-chooser").addEventListener("DbxChooserSuccess",
      function(e) {
          document.getElementById("url").value = e.files[0].link;
      }, false);
  } 

  function loadURLShortener(){
      //Get your own Browser API Key from  https://code.google.com/apis/console/
      gapi.client.setApiKey('AIzaSyCF1DzfpTiMuzKk2TjudaZ-bPIPGjaL6NY');
      gapi.client.load('urlshortener', 'v1',function(){});
      
  }

  function loadToolTip(){
    var checkedToolTip = $.cookie("tip_reply_read");
    if (checkedToolTip == null){
      $('#tooltip').append('<div id="alert" class="alert alert-info"><div id="tooltipDismiss" type="button" class="close">&times;</div><strong>Tip: </strong> Click on a message to reply</div>');
    }
  }

  function load(){
    loadDropBoxListener();
    loadURLShortener(); 
    loadToolTip();
  }
  window.onload = load;
   
</script>

</head>
<body>

<% if signed_in? %>

<div id="content">
  <div id="newMessage" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= form_for(@micropost) do |f| %>  
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Compose new message <% if (@visible_users != nil and !@visible_users.empty?) %> in this group <% end %></h3>
  </div>
  <div class="modal-body">
    <ul class="nav nav-list">  
         
      <%= f.hidden_field :filter, value: current_color %>
      <%= f.hidden_field :weblink %>
      <%= f.hidden_field :imagelink %>
      <li><%= render 'shared/error_messages', object: f.object %></li>   
      <li class="nav-header">Message</li>
      <li>
        <%= f.text_area :content, rows: "2", placeholder: "Dont forget to buy milk!", maxlength: "100" %>
      </li>

      <li class="nav-header" >
        <div class="row-fluid">
          <div class="span6"><%= image_tag("glyphicons_050_link.png", size: "16x16")%> Add link (optional)</div>
          <div class="span6"><input type="dropbox-chooser" name="selected-file" id="db-chooser" /></div>  
        </div>
        <div class="row-fluid">
          <div class="span10"><input type="text" id="url" name="url" placeholder="www..." maxlength="100" /></div>
          <div class="span2"><button class="btn" type="button" onClick="makeShort()">Shorten</button></div>
        </div>  
      <li>
        
      
      <% if @visible_users == nil or @visible_users.empty? %>
        <li class="nav-header">Visible to</li>
        <li>
          <div class="row-fluid">
          <div class="span2"><img src="<%=current_user.getAvatarURL%>" class="avatar_selected" width="24" height="24"></div>
          <div class="span10"><span class="name_selected"> You</span></div>
          </div> 
        <%  @friends.each do |u| %>          
          <div class="row-fluid">
          <div class="span2" onClick=buttonPress('<%=u.id%>')><img src="<%=u.getAvatarURL%>" id="image_<%=u.id%>" class="avatar_unselected" width="24" height="24"></div>
          <div class="span10"><span id="name_<%=u.id%>" class="name_unselected"> <%= u.name %></span></div>                   
          <input type="hidden" id="friends[<%=u.id%>]" name="friends[<%=u.id%>]" value="false"/> 
           </div>
        <% end %>
        </li> 
      <% else %>
          <%  @visible_users.each do |u| %>
            <input type="hidden" id="friends[<%=u.id%>]" name="friends[<%=u.id%>]" value="true"/> 
         <% end %> 
      <% end %>           

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%=f.submit "Share", class: "btn btn-success" %>
  </div>
  <% end %>
</div>
</div>

  <div id="addFriend" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="friendModalLabel" aria-hidden="true">   
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="friendModalLabel">Friends</h3>
  </div>
  <div class="modal-body">
    <ul class="nav nav-list">
    <% @friends.each do |u| %>
        <li><div class="row-fluid">
          <div class="span8">
            <%= image_tag(u.getAvatarURL, size: "24x24") %> <%= u.name %>
          </div> 
          <div class="span4">
          <%= button_to "Remove", {id: current_user.id, friend_id: u.id, controller: "users", action: "unfriend"}, class: "btn" %>    
          </div> 
      </div><li> 
    <% end %>
  </ul>
  <%= form_for @friend, url: {id: current_user.id, action: "invite" } do |f| %>
  <h4 id="myModalLabel">Add someone</h4>
    <%= f.email_field :email, placeholder: "Email" %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= f.submit "Add", class: "btn btn-success" %>
  </div>
  <% end %>
</div>



<div id="settings" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">   
  <%= form_for(current_user) do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="settingsModalLabel">Settings</h3>
  </div>
  <div class="modal-body">
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :avatar %>
    <div class="row-fluid">
    <div class="span8"><%= f.text_field :avatar, placeholder: "www...link to image (or leave empty)", onBlur: "checkImageURL()" %></div> 
    <div class="span4"><%= image_tag(current_user.getAvatarURL, :id => "avatar_preview", :size => "30x30") %></div>
    
    </div> 

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= f.submit "Save changes", class: "btn btn-success" %>
  </div>

  <div class="modal-footer">
    <%= link_to "Sign Out", signout_path, method: "delete" %>
    <br/>
    <%= link_to "Delete my account", current_user, method: :delete,
                                         data: { confirm: "You sure?" },
                                         title: current_user.name %>
  </div>                                  
  <% end %>
</div>


<% end %>


<div class="container-fluid"> 
    <div class="row-fluid">   
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container-fluid">
              <%= link_to "lugogram", root_path, class: "brand" %>             
              <% if signed_in? %>
                <ul class="nav pull-right">    
                  <li><a href="#newMessage" role="button" data-toggle="modal"><%= image_tag("glyphicons_010_envelope.png", :size => "28x28") %></a></li>               
                  <li><a href="#addFriend" role="button" data-toggle="modal"><%= image_tag("glyphicons_006_user_add.png", :size => "28x28") %></a></li>
                  <li><a href="#settings" role="button" data-toggle="modal">   
                    <% if current_user.hasDefaultAvatar? %>
                      <%= image_tag(current_user.getAvatarURL, :size => "24x24") %>   
                    <% else %>
                      <%= image_tag(current_user.getAvatarURL, :size => "20x20", class: "avatar_with_border") %> 
                    <% end %>
                  </a></li>
                </ul>
              <% else %>
                  <ul class="nav pull-right"> 
                    <li><%= link_to "About", about_path %></li>
                    <li><%= link_to "Sign in", signin_path %></li>
                  </ul>
             <% end %>
            </div>
          </div>
        </div>
        <div class="visible-desktop" style="padding-top: 90px;"></div>  
      </div>
      <div class="row-fluid"> 
      <div class="span1"></div>  
        <div class="span10">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
        </div>
        <div class="span1"></div>
    </div> 
  </div>   

  

</body>
</html>