<!DOCTYPE html>
<html>
<head>
  <title>Lugogram</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/stylesheets/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "lugogram", root_path, class: "brand" %>
          <% if signed_in? %>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">                    
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Friends", user_path(current_user) %></li>
              <li><%= link_to "Profile", edit_user_path(current_user) %></li>  
              <li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
            </ul>
          </div><!--/.nav-collapse -->
          <% else %>
              <div class="nav-collapse collapse">
              <ul class="nav pull-right"> 
                <li><%= link_to "Sign in", signin_path %></li>
              </ul>
              </div>
            <% end %>
        </div>
      </div>
    </div>
    
    
    <div class="container-fluid">
      <div class="row-fluid">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
       </div>
    </div>
    

  </body>
</html>