<!DOCTYPE html>
<html>
<head>
  <title>Lugogram</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/ico/favicon.png">
</head>
<body>
  

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "lugogram", root_path, class: "brand" %>
          <% if signed_in? %>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
            </ul>
            <ul class="nav">
              <li><%= link_to "Send", root_path %></li>
              <li><%= link_to "History", current_user %></li>        
            </ul>
          </div><!--/.nav-collapse -->
          <% else %>
              <div class="nav-collapse collapse">
              <ul class="nav pull-right"> 
                <li><%= link_to "Sign in", signin_path %></li>
              </ul>
              </div>
            <% end %>
        </div>
      </div>
    </div>
    
    <div class="container-fluid">
      <div class="row-fluid">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
       </div>
    </div>
    

  </body>
</html>